{{extend 'layout.html'}}
<html>
	<title>Notes List</title>
	<body>
	{{if pr=='Private':}}
	<div class="progress">
	<div class="bar bar-danger" style="width:100%">Private Note</div>
	</div>
	{{else:}}
	<div class="progress">
	<div class="bar bar-success" style="width:100%">Public Note</div>
	</div>
	<h3 align = "center">Title : {{=title}}</h4>
		<h3 align="center">Description : {{=des}}</h4>
		<b>Content :</b></br> <pre>{{=val}}</pre></br></br></br>
		<div align="left">
			<button onclick="document.location='{{=URL(r=request,f='crnote2',args=(title,a[0]['authoris']))}}';">Download</button>
			
			</div>
			</br>
	<table>
	<tr>
	<td><h4> Attachments :</h4></td>
	<td></td>
	</tr>
	</table>
	</br>
	<table class="table">
	{{for i in range (len(l)):}}
	<tr>
		<td width:'50%'>{{=l[i]['nm']}}</td>
		<td width:'50%' style="text-align:right"><button class="btn btn-inverse" onclick="document.location='{{=URL(r=request,f='download',args=l[i]['fil'])}}';">Download</button></td>
	</tr>
{{pass}}
	</table>

	
		<div style="float:right">
		</br><b><u>Tags attached :</b></u> {{=tags}}</br>
		<b>Time of creation : </b> {{=ct}}</br>
		<b>Time of last modification : </b> {{=mt}}
		</div>

	{{pass}}
	</body>

</html>
